@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-display: swap;
  src: url('./Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-display: swap;
  src: url('./Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-display: swap;
  src: url('./Roboto/Roboto-Bold.ttf');
}
