.CommonInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .CommonInput__Title {
    text-align: left;
  }

  .CommonInput__Input {
    flex: 1;
  }
}
