.PostsListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px;
  background-color: #aaaaaa;

  list-style-type: none;

  .PostsListItem__Title {
    width: 100%;
    border-bottom: 1px solid #333;
  }
}
